#contact {
  height: 100vh;
  padding-top: 2.5em;
  background:$accent-white;
  color:$primary-color;
}

/* contact form */
label {
  font-size: 1.75rem;
}
@media screen and (max-width: 1024px){
  label {
    font-size: 1.5rem;
  }
}
button {
  padding: 1.5em 0;
  background-color: $primary-color;
  color: $accent-white;

}
button:hover {
  background-color: rgba(106,197,176,0.9);
  color: #eee !important;
}
input:focus {
  background-color: rgba(106,197,176,0.6);
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  color: $accent-white;
}
textarea:focus {
  background-color: rgba(106,197,176,0.6);
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  color: $accent-white;
}
