html {
  font-size: 16px;
  line-height: 1;
}
body {
  width: 100%;
  font-size: 100%;
}

ul {list-style: none;}

/* headings  and paragraphs*/
h1,
h2,
h3,
h4 {
  font-family: 'Share Tech Mono', monospace;
  text-transform: lowercase;
}
h5, h6, p{
  font-family: 'Questrial', sans serif;
}
h1,h2,h3,h4,h5,h6,p {
  line-height: 1.45;
}

h1 {
  display: inline;}

h4, p {
  color: #777;
}
p {
  text-align: justify;
}

/* hyperlinks */
a:link {
  color: $primary-color;
}
a:visited {
  color: $primary-color;
}
a:hover {
  color: #ccc;
  text-decoration: none;
}
a:active {
  color: blue;
}
li {
  list-style: none;
}
